* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/skypro2077.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top_title {
  width: 789px;
  height: 125px;
  padding-top: 217px;
  margin-left: 120px;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
}
.top_title:hover {
  text-decoration: underline;
}
.top_text {
  width: 481px;
  height: 64px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-left: 120px;
  padding-top: 32px;
}
.top_text:hover {
  text-decoration: underline;
}
.top_button {
  margin-left: 120px;
  margin-top: 44px;
  width: 234px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #9c0332;
}
.top_button:hover {
  text-decoration: underline;
}

.product {
  height: 556px;
  background-image: url(img/black.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product_content {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
}
.product_content_1 {
  width: 379px;
  height: 300px;
  background-image: url(img/game1.png);
}
.product_content_1:hover {
  box-shadow: 0 0 8px #6ebcf0;
  transform: scale(1.01);
}
.product_content_2 {
  width: 379px;
  height: 300px;
  background-image: url(img/game2.png);
}
.product_content_2:hover {
  box-shadow: 0 0 8px #6ebcf0;
  transform: scale(1.01);
}
.product_content_3 {
  width: 379px;
  height: 300px;
  background-image: url(img/game3.png);
}
.product_content_3:hover {
  box-shadow: 0 0 8px #6ebcf0;
  transform: scale(1.01);
}
.product_content_text {
  padding-left: 32px;
  padding-top: 236px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  line-height: 32px;
  width: 84px;
  height: 32px;
  text-decoration: none;
}

.game {
  height: 800px;
  background-image: url(img/black-game.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 135px;
}
.game_1_left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.game_1_left_title {
  width: 377px;
  height: 59px;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.game_1_left_text {
  width: 584px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.game_1_left_button {
  width: 234px;
  height: 49px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 30px;
  color: #ffffff;
  background-color: #9c0332;
}
.game_1_left_button:hover {
  text-decoration: underline;
}
.game_1_left {
  padding-top: 282px;
}
.game_1_right_image {
  padding-top: 234px;
  width: 485px;
  height: 333px;
}

.game2 {
  height: 800px;
  background-image: url(img/black-game.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game2_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 135px;
}
.game2_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game2_right_title {
  width: 396px;
  height: 59px;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.game2_right_text {
  width: 588px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.game2_right_button {
  width: 234px;
  height: 49px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 30px;
  color: #ffffff;
  background-color: #9c0332;
}
.game2_right_button:hover {
  text-decoration: underline;
}
.game2_left {
  padding-top: 39px;
}
.game2_left_image {
  width: 481px;
  height: 322px;
}

@media (max-width: 1200px) {
  .product {
    height: 1221px;
  }
  .product_content {
    flex-direction: column;
    align-items: center;
  }
  .product_content_1 {
    width: 379px;
    height: 300px;
  }
  .product_content_2 {
    width: 379px;
    height: 300px;
  }
  .product_content_3 {
    width: 379px;
    height: 300px;
  }
  .game {
    height: 1221px;
  }
  .game_content {
    flex-direction: column;
    align-items: center;
  }
  .game2 {
    height: 1221px;
  }
  .game2_content {
    padding-top: 51px;
    flex-direction: column-reverse;
  }
  .game2_right {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top_header {
    display: flex;
    flex-direction: column;
  }
  .top_title {
    width: 343px;
    height: 77px;
    padding-top: 239px;
    font-weight: 700;
    font-size: 32px;
    margin-left: auto;
  }
  .top_text {
    width: 343px;
    height: 66px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-left: auto;
  }
  .top_button {
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }
  .product {
    height: 1221px;
  }
  .product_content {
    flex-direction: column;
    align-items: center;
  }
  .product_content_1 {
    background-image: url(img/game1.png);
  }
  .product_content_1:hover {
    box-shadow: 0 0 8px #6ebcf0;
    transform: scale(1.01);
  }
  .product_content_2 {
    background-image: url(img/game2.png);
  }
  .product_content_2:hover {
    box-shadow: 0 0 8px #6ebcf0;
    transform: scale(1.01);
  }
  .product_content_3 {
    background-image: url(img/game3.png);
  }
  .product_content_3:hover {
    box-shadow: 0 0 8px #6ebcf0;
    transform: scale(1.01);
  }
  .product_content_text {
    padding-left: 32px;
    padding-top: 236px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    line-height: 32px;
    width: 84px;
    height: 32px;
    text-decoration: none;
  }
  .game_1_left {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .game_1_left_title {
    width: 249px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  .game_1_left_text {
    margin-left: 25px;
    width: 343px;
    height: 66px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  .game_1_right_image {
    padding-top: 64px;
    width: 344px;
    height: 236px;
  }
  .game2_left_image {
    width: 344px;
    height: 231px;
  }
  .game2_right_title {
    width: 264px;
    height: 39px;
    font-size: 32px;
  }
  .game2_right_text {
    width: 343px;
    height: 66px;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */